{{ template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> this is the Sc spa home page</h1>
            <P>Location de spa </P>
            <p>
                {{index .StringMap "test"}}
            </p>

        </div>
    </div>
</div>
{{end}}